.ui-datepicker {
    font-size: 62.5%;
}

.small-user-pic {
    height: 10px;
    width: 10px;
}

.interests-list {
    margin-left: 20px;
}

.interests-list li ul {
    margin-left: 20px;
}

.interests-list .main-category {
    width: 50px;
    height: 50px;
    position: relative;
}

.interests-list .main-category .image {
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.interests-list .main-category .title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 200;
}

.interests-list .main-category input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}
