@*@model IEnumerable<Interext.Models.Event>*@


<div id="content" class="no-sidebar template-clean-page">
    <div id="post-111" class="post-111 page type-page page">
        <article>
            <div class="post-content page-content">

                <!--megafolio system-->
                <div class="megafolio-container noborder norounded light-bg-entries">
                    <div class="mega-entry cat-all cat-press " id="mega-entry-380" data-src="/Content/images/example-images/event1.jpg" data-width="1144" data-height="791">

                        <div style="background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.46);" class="mega-covercaption mega-square-right mega-landscape-right mega-portrait-right mega-transparent mega-smallcaptions">
                            <div class="mega-date">15.5</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/poster-design-contest-redesign-the-web-the-best-entries/" style="color:#ffffff">Evening walks with dogs</a></div>
                            <div class="mega-location"><span class="fa fa-map-marker"></span>Hadera, Israel</div>
                            <div>Number of participants: 2-5</div>
                            <div>Age: 20-30</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/sash.jpg" /></div>
                            @*<p style="color:#ffffff">Didn&#8217;t need no welfare states. Everybody pulled his weight. Gee our old Lasalle ran great. Those were the days. We&#8217;re gonna do it. On your mark get set and go [&hellip;]</p><br /><br /><a href="http://contrast.freevision.me/blog/2013/11/27/poster-design-contest-redesign-the-web-the-best-entries/" style="color:#ffffff">Read the whole story</a>*@
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-press " id="mega-entry-378" data-src="/Content/images/example-images/event2.jpg" data-width="662" data-height="900">

                        <div style="background-color:rgb(162,17,116);background-color:rgba(162,17,116,0.8);" class="mega-covercaption mega-square-top mega-landscape-top mega-portrait-top mega-transparent mega-smallcaptions">
                            <div class="mega-date">26.5</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/an-interview-with-andy-clarke/" style="color:#ffffff">Can't study alone? me too</a></div>
                            <div style="color:#ffffff">Hayfa, Israel</div>
                            <div>Number of participants: 2-3</div>
                            <div>Age: 22-30</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/natalie.jpg" /></div>
                            @*<p style="color:#ffffff">Didn&#8217;t need no welfare states. Everybody pulled his weight. Gee our old Lasalle ran great. Those were the days. We&#8217;re gonna do it. On your mark get set and go [&hellip;]</p><br /><br /><a href="http://contrast.freevision.me/blog/2013/11/27/an-interview-with-andy-clarke/" style="color:#ffffff">Read the whole story</a>*@
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-press " id="mega-entry-375" data-src="/Content/images/example-images/event3.jpg" data-width="1144" data-height="790">
                        <div style="background-color: rgb(46,15,91); background-color: rgba(46,15,91,0.5);" class="mega-covercaption mega-square-right mega-landscape-right mega-portrait-right mega-transparent mega-smallcaptions">
                            <div class="mega-date">18.5</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/new-full-day-workshops/" style="color:#ffffff">Fun day with dogs on Saturdays</a></div>
                            <div style="color:#ffffff">Raanana, Israel</div>
                            <div>Number of participants: 2-3</div>
                            <div>Age: 23-26</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/hila.jpg" /></div>
                            @*<p style="color:#ffffff">Didn&#8217;t need no welfare states. Everybody pulled his weight. Gee our old Lasalle ran great. Those were the days. We&#8217;re gonna do it. On your mark get set and go [&hellip;]</p><br /><br /><a href="http://contrast.freevision.me/blog/2013/11/27/new-full-day-workshops/" style="color:#ffffff">Read the whole story</a>*@
                        </div>                        
                    </div>
                    <div class="mega-entry cat-all cat-press " id="mega-entry-372" data-src="/Content/images/example-images/event4.png" data-width="1144" data-height="762">

                        <div style="background-color:rgb(255,34,34);background-color:rgba(255,34,34,0.8);" class="mega-covercaption mega-square-bottom mega-landscape-bottom mega-portrait-bottom mega-transparent mega-smallcaptions">
                            <div class="mega-date">2.6</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/contrast-is-your-next-level-theme/" style="color:#ffffff">Volleyball on Netanya Beach on Fridays</a></div>
                            <div style="color:#ffffff">Netanya, Israel</div>
                            <div>Number of participants: 10-12</div>
                            <div>Age: 16+</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/dima.jpg" /></div>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-press " id="mega-entry-370" data-src="/Content/images/example-images/event5.jpg" data-width="1144" data-height="791">

                        <div style="background-color: rgb(0,0,0); background-color:rgba(104,217,153,0.81);" class="mega-covercaption mega-square-left mega-landscape-left mega-portrait-left mega-transparent mega-smallcaptions">
                            <div class="mega-date">1.6</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/solving-adaptive-images-in-responsive-web-design/" style="color:#ffffff">Cycling</a></div>
                            <div style="color:#ffffff">Netanya, Israel</div>
                            <div>Number of participants: 6-8</div>
                            <div>Age: 45-60</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/maya.jpg" /></div>
                            @*<p style="color:#ffffff">Didn&#8217;t need no welfare states. Everybody pulled his weight. Gee our old Lasalle ran great. Those were the days. We&#8217;re gonna do it. On your mark get set and go [&hellip;]</p><br /><br /><a href="http://contrast.freevision.me/blog/2013/11/27/contrast-is-your-next-level-theme/" style="color:#ffffff">Read the whole story</a>*@
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-press " id="mega-entry-368" data-src="/Content/images/example-images/event6.jpg" data-width="1144" data-height="790">

                        <div style="background-color:rgb(46,15,91);background-color:rgba(46,15,91,0.8);" class="mega-covercaption mega-square-bottom mega-landscape-bottom mega-portrait-bottom mega-transparent mega-smallcaptions">
                            <div class="mega-date">28.5</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/choosing-a-responsive-image-solution/" style="color:#ffffff">PARTY!</a></div>
                            <div style="color:#ffffff">Tel Aviv, Israel</div>
                            <div>Age: 22+</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/sash.jpg" /></div>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-press " id="mega-entry-366" data-src="/Content/images/example-images/event7.jpg" data-width="1144" data-height="791">

                        <div style="background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4);" class="mega-covercaption mega-square-left mega-landscape-left mega-portrait-leftmega-white mega-transparent mega-smallcaptions">
                            <div class="mega-date">26.5</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/creative-and-innovative-navigation-designs/" style="color:#ffffff">Playing Brigde on Monday mornings</a></div>
                            <div style="color:#ffffff">Kfar Saba, Israel</div>
                            <div>Number of participants: 4-6</div>
                            <div>Age: 65+</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/viki.jpg" /></div>
                            @*<p style="color:#ffffff">Straightnin&#8217; the curves. Flatnin&#8217; the hills Someday the mountain might get ‘em but the law never will. Well the first thing you know ol&#8217; Jeds a millionaire. Kinfolk said Jed [&hellip;]</p>*@
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-press " id="mega-entry-336" data-src="/Content/images/example-images/event8.jpg" data-width="1144" data-height="792">

                        <div style="background-color:rgb(3,13,42);background-color:rgba(3,13,42,0.83);" class="mega-covercaption mega-square-left mega-landscape-left mega-portrait-left mega-transparent mega-smallcaptions">
                            <div class="mega-date">1.6</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/image/" style="color:#ffffff">Jogging on the promenade</a></div><div style="color:#ffffff">Marina, Israel</div>
                            @*<p style="color:#ffffff">In 1972 a crack commando unit was sent to prison by a military court for a crime they didn&#8217;t commit. These men promptly escaped from a maximum security stockade to [&hellip;]</p><br /><br /><a href="http://contrast.freevision.me/blog/2013/11/27/image/" style="color:#ffffff">Read the whole story</a>*@
                            <div>Number of participants: 2-3</div>
                            <div>Age: 25-30</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/tzlil.jpg" /></div>
                        </div>
                    </div>
                    <div class="mega-entry cat-all cat-press " id="mega-entry-332" data-src="/Content/images/example-images/event9.jpg" data-width="1144" data-height="804">

                        <div style="background-color: rgb(255,34,34); background-color: rgba(255,34,34,0.8); " class="mega-covercaption mega-square-top mega-landscape-top mega-portrait-top mega-transparent mega-smallcaptions">
                            <div class="mega-date">5.6</div>
                            <div class="mega-title"><a href="http://contrast.freevision.me/blog/2013/11/27/audio/" style="color:#000000">Roller skating</a></div><div style="color:#000000">Tel Aviv, Israel</div>
                            <div>Number of participants: 2-8</div>
                            <div>Age: 16-20</div>
                            <div class="mega-by-person">Created by <img src="/Content/images/example-images/sash.jpg" /></div>
                        </div>
                    </div>
                    
                </div>
                <!--.megafolio-container-->

                <span class="load_more_blog" data-layout_type="folio" data-item_count="10" data-offset="0" data-found="12" data-order_by="date" data-order="desc" data-category_name="11,16,14,15" data-loadingcaption="LOADING..." data-loadmorecaption="LOAD MORE POSTS">LOAD MORE POSTS</span>
                <!--.load more blog-->
                <div class="bottom-spacer clear"></div>

            </div>

        </article>
    </div>
</div>