@model IEnumerable<Interext.Models.Event>

    @foreach (var item in Model)
    {
        <div class="event-box" data-src="/Content/images/example-images/event1.jpg" data-width="1144" data-height="791">
            <a href="/Event/Details?Id=1" class="event-box-content right" style="background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.46);">
                <div class="event-date">15.5</div>
                <div class="event-title">@Html.DisplayFor(modelItem => item.Title)</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>@Html.DisplayFor(modelItem => item.Place)</div>
                <div class="event-num-of-participants-container">Number of participants: <span id="draftNumOfParticipants">2-5</span></div>
                <div class="event-age-of-participants-container">Age: <span id="draftAgeOfParticipants">20-30</span></div>
                <div class="event-gender-container">Gender: <span id="draftGender">Female</span></div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/sash.jpg" /></div>
            </a>
        </div>
    }


    <!--.event-boxes-container-->
    @*<span class="load_more_blog" data-layout_type="folio" data-item_count="10" data-offset="0" data-found="12" data-order_by="date" data-order="desc" data-category_name="11,16,14,15" data-loadingcaption="LOADING..." data-loadmorecaption="LOAD MORE POSTS">LOAD MORE POSTS</span>*@
    <!--.load more blog-->
    
