@*@model IEnumerable<Interext.Models.Event>*@


<div id="content" class="no-sidebar">
    <!--megafolio system-->
    <div class="event-boxes-container noborder norounded light-bg-entries">
        <div class="event-box" data-src="/Content/images/example-images/event1.jpg" data-width="1144" data-height="791">
            <a href="/Event/Details?Id=1" class="event-box-content right" style="background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.46);">
                <div class="event-date">15.5</div>
                <div class="event-title">Evening walks with dogs</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Hadera, Israel</div>
                <div>Number of participants: 2-5</div>
                <div>Age: 20-30</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/sash.jpg" /></div>
            </a>
        </div>
        <div class="event-box" data-src="/Content/images/example-images/event2.jpg" data-width="662" data-height="900">
            <a href="/Event/Details?Id=1" class="event-box-content top" style="background-color:rgb(162,17,116);background-color:rgba(162,17,116,0.8);">
                <div class="event-date">26.5</div>
                <div class="event-title">Can't study alone? me too</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Hayfa, Israel</div>
                <div>Number of participants: 2-3</div>
                <div>Age: 22-30</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/natalie.jpg" /></div>
            </a>
        </div>
        <div class="event-box" data-src="/Content/images/example-images/event3.jpg" data-width="1144" data-height="790">
            <a href="/Event/Details?Id=1" class="event-box-content right" style="background-color: rgb(46,15,91); background-color: rgba(46,15,91,0.5);">
                <div class="event-date">18.5</div>
                <div class="event-title">Fun day with dogs on Saturdays</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Raanana, Israel</div>
                <div>Number of participants: 2-3</div>
                <div>Age: 23-26</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/hila.jpg" /></div>
            </a>
        </div>
        <div class="event-box" data-src="/Content/images/example-images/event4.png" data-width="1144" data-height="762">
            <a href="/Event/Details?Id=1" class="event-box-content bottom" style="background-color:rgb(255,34,34);background-color:rgba(255,34,34,0.8);">
                <div class="event-date">2.6</div>
                <div class="event-title">Volleyball on Netanya Beach on Fridays</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Netanya, Israel</div>
                <div>Number of participants: 10-12</div>
                <div>Age: 16+</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/dima.jpg" /></div>
            </a>
        </div>
        <div class="event-box" data-src="/Content/images/example-images/event5.jpg" data-width="1144" data-height="791">
            <a href="/Event/Details?Id=1" class="event-box-content left" style="background-color: rgb(0,0,0); background-color:rgba(104,217,153,0.81);">
                <div class="event-date">1.6</div>
                <div class="event-title">Cycling</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Netanya, Israel</div>
                <div>Number of participants: 6-8</div>
                <div>Age: 45-60</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/maya.jpg" /></div>
            </a>
        </div>
        <div class="event-box" data-src="/Content/images/example-images/event6.jpg" data-width="1144" data-height="790">
            <a href="/Event/Details?Id=1" class="event-box-content bottom" style="background-color:rgb(46,15,91);background-color:rgba(46,15,91,0.8);">
                <div class="event-date">28.5</div>
                <div class="event-title">PARTY!</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Tel Aviv, Israel</div>
                <div>Age: 22+</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/sash.jpg" /></div>
            </a>
        </div>
        <div class="event-box" data-src="/Content/images/example-images/event7.jpg" data-width="1144" data-height="791">
            <a href="/Event/Details?Id=1" class="event-box-content left" style="background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4);">
                <div class="event-date">26.5</div>
                <div class="event-title">Playing Brigde on Monday mornings</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Kfar Saba, Israel</div>
                <div>Number of participants: 4-6</div>
                <div>Age: 65+</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/viki.jpg" /></div>
            </a>
        </div>
        <div class="event-box" data-src="/Content/images/example-images/event8.jpg" data-width="1144" data-height="792">
            <a href="/Event/Details?Id=1" class="event-box-content left" style="background-color:rgb(3,13,42);background-color:rgba(3,13,42,0.83);">
                <div class="event-date">1.6</div>
                <div class="event-title">Jogging on the promenade</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Marina, Israel</div>
                <div>Number of participants: 2-3</div>
                <div>Age: 25-30</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/tzlil.jpg" /></div>
            </a>
        </div>
        <div class="event-box" data-src="/Content/images/example-images/event9.jpg" data-width="1144" data-height="804">
            <a href="/Event/Details?Id=1" class="event-box-content top" style="background-color: rgb(255,34,34); background-color: rgba(255,34,34,0.8); ">
                <div class="event-date">5.6</div>
                <div class="event-title">Roller skating</div>
                <div class="event-location"><span class="fa fa-map-marker"></span>Tel Aviv, Israel</div>
                <div>Number of participants: 2-8</div>
                <div>Age: 16-20</div>
                <div class="event-by-person">Created by <img src="/Content/images/example-images/sash.jpg" /></div>
            </a>
        </div>

    </div>
    <!--.event-boxes-container-->
    @*<span class="load_more_blog" data-layout_type="folio" data-item_count="10" data-offset="0" data-found="12" data-order_by="date" data-order="desc" data-category_name="11,16,14,15" data-loadingcaption="LOADING..." data-loadmorecaption="LOAD MORE POSTS">LOAD MORE POSTS</span>*@
    <!--.load more blog-->
    <div class="bottom-spacer clear"></div>
</div>