@{
    ViewBag.Title = "RegisterApproval";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<section id="loginForm" class="form-signin">
        <div class="third-part">
            <div class="success">
                <h1 class="form-signin-heading flipping-hover-area">Welcome to INTERE<span class="flipping-text"><span data-title="X">X</span></span>TS!</h1>
                <div class="welcome-phrase">
                    Good to see you :) <br />
                    <a href="/">Start your tour now!</a>
                </div>
            </div>
            
        </div>
 

</section>
@section Scripts {
@Scripts.Render("~/bundles/register-approval")
}





